version: '3'

## DO NOT use the default bridge as containers cannot find each other using names in the default bridge
## This is due to backward compatability: https://docs.docker.com/engine/userguide/networking/
#networks:
#  default:
#    external:
#      name: bridge

networks:
    aem-network:

services:
    aem-base:
        build:
          context: ./AEM
          dockerfile: Dockerfile-AEM-base
          args:
            - JAVA_VERSION=8
            - AEM_VERSION=6.3.0
        image: docker-tam-dev.dr.corp.adobe.com/aem-base:AEM6.3.0
        container_name: base
        #network_mode: bridge
        networks:
            aem-network:
                aliases:
                    - aem-base  
    publish:
        build:
          context: ./AEM
          dockerfile: Dockerfile-AEM-publish
        image: docker-tam-dev.dr.corp.adobe.com/aem-publish:AEM6.3.0
        container_name: publish
        #network_mode: bridge
        networks:
            aem-network:
                aliases:
                    - publish
        ports:
            - "4503:4503"
            - "4603:4603"
            - "40404:40404"
        ## Link is only set for docker-compose build and start-up (aem-base first, then publish, then author)
        links:
            - aem-base
        #logging:
        #    driver: syslog
        #    options:
        #        syslog-address: "tcp://192.168.99.1:514"
        volumes:
            # Specify an absolute path mapping
            #- "./dockervolume/aem-publish/launchpad:/opt/aem/crx-quickstart/launchpad"
            #- "./dockervolume/aem-publish/conf:/opt/aem/crx-quickstart/conf"
            - "./dockervolume/aem-publish/install:/opt/aem/crx-quickstart/install"
            - "./dockervolume/aem-publish/logs:/opt/aem/crx-quickstart/logs"
    author:
        build:
          context: ./AEM
          dockerfile: Dockerfile-AEM-author
        image: docker-tam-dev.dr.corp.adobe.com/aem-author:AEM6.3.0
        container_name: author
        #network_mode: bridge
        networks:
            aem-network:
                aliases:
                    - author
        ports:
            - "4502:4502"
            - "4602:4602"
            - "30303:30303"
        ## Link is only set for docker-compose build and start-up (aem-base first, then publish, then author)
        links:
            - aem-base
        #logging:
        #    driver: syslog
        #    options:
        #        syslog-address: "tcp://192.168.99.1:514"
        volumes:
            # Specify an absolute path mapping            
            #- "./dockervolume/aem-author/launchpad:/opt/aem/crx-quickstart/launchpad"
            #- "./dockervolume/aem-author/conf:/opt/aem/crx-quickstart/conf"
            - "./dockervolume/aem-author/install:/opt/aem/crx-quickstart/install"
            - "./dockervolume/aem-author/logs:/opt/aem/crx-quickstart/logs"

    dispatcher:
        build:
          context: ./Dispatcher
          dockerfile: Dockerfile
        image: docker-tam-dev.dr.corp.adobe.com/apache-dispatcher:2.4-4.1.12
        container_name: dispatcher
        #network_mode: bridge
        networks:
            aem-network:
                aliases:
                    - dispatcher
        ports:
            - "80:80"
        ## Link is only set for docker-compose build and start-up order (aem-base first)
        links:
            - publish
        #logging:
        #    driver: syslog
        #    options:
        #        syslog-address: "tcp://192.168.99.1:514"
        volumes:
            # Specify an absolute path mapping
            - "./dockervolume/aem-dispatcher/apache2/sites-enabled:/etc/apache2/sites-enabled"
            - "./dockervolume/aem-dispatcher/apache2/conf-enabled:/etc/apache2/conf-enabled"
            - "./dockervolume/aem-dispatcher/apache2/conf.d:/etc/apache2/conf.d"
            - "./dockervolume/aem-dispatcher/var/www/html:/var/www/html"
            - "./dockervolume/aem-dispatcher/var/log/apache2:/var/log/apache2"
        environment:
            - DISPATCHER_PUBLISH_PORT=4503
            - DISPATCHER_PUBLISH_HOSTNAME=publish